.profile-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 40px 0 ;
    margin-right: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    min-width:23rem;
    background-color: white;
}


.profile-sidebar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }


.profile-main{
    flex-grow: 3;
}


.profile-main-detail{
    margin: 10px 0 0 20px;
}


.profile-picture{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 1rem 0;
}






.button-profile {
    border-radius: 0.5rem;
    border: 1px solid #32b280;
    background-color: #32b280;
    color: #ffffff ;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 20px;
    width: 16rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none !important;
    margin: 0.5rem;
  }

  
  .button-profile:hover {
    background-color: #2b5bf7;
    color: white;
    border: 1px solid #2b5bf7;
  }

  .button-edit-data {
    border-radius: 0.5rem;
    border: 1px solid #32b280;
    background-color: #32b280;
    color: #ffffff ;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 20px;
    width: 10rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none !important;
    margin: 0.5rem 0;
  }

  .button-edit-data:hover {
    background-color: #2b5bf7;
    color: white;
    border: 1px solid #2b5bf7;
  }

  .button-transaction{
    border-radius: 0.5rem;
    border: 1px solid #32b280;
    background-color: #32b280;
    color: #ffffff ;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 8px;
    width: 10rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    margin:0 0.2rem;
    text-decoration: none !important;
  }