@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');




.logo-name{
  font-family: "Libre Baskerville";
}

.navbar-container{
    border-top: 4px var(--color-primary) solid;
    display: flex;
    margin: auto;
    padding: 20px 40px;
    align-items: center;
    height: 10vh;
}

.logo-container{
    display: flex;
    flex:1
}

.nav-link-container{
    margin: 0 0 ;
    padding: 0 0 ;
    flex: 2;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-link-cta{
    color:var(--color-primary);
    text-decoration: none;
}

.navbar-items{
  font-weight: 500;
}

.nav-link-cta:hover::after{
  content: '';
  display: block;
  border-bottom:3px solid var(--color-primary);
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.drop-icon{
  color: var(--color-primary);
  transition: 0.2s;
}

.drop-icon:hover{
  color: var(--color-secondary);
}


.auth{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.auth-link{
    text-decoration: none;
color: inherit;
}

.button-auth{
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.2s;
}

  .button-auth:active {
    transform: scale(0.95);
  }
  .button-auth:hover {
    background-color: white;
    color: var(--color-primary);
    border: 3px solid #32b280;
  }
  
  .button-auth:focus {
    outline: none;
  }
  
  .button-auth.ghost {
    color: white;
    background-color: transparent;
    border-color: #ffffff;
    transition: 0.5s;
  }
  .button-auth.ghost:hover {
    background-color: white;
    color: black;
    border: 3px solid white;
  }

  @media screen and (max-width:1024px){
    .button-auth{
      border-radius: 20px;
      border: 1px solid var(--color-primary);
      background-color: var(--color-primary);
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: 0.2s;
  }
  
    .button-auth:active {
      transform: scale(0.95);
    }
    .button-auth:hover {
      background-color: white;
      color: var(--color-primary);
      border: 3px solid #32b280;
    }
    
    .button-auth:focus {
      outline: none;
    }
    
    .button-auth.ghost {
      color: white;
      background-color: transparent;
      border-color: #ffffff;
      transition: 0.5s;
    }
    .button-auth.ghost:hover {
      background-color: white;
      color: black;
      border: 3px solid white;
    }
}



  
