@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");


.address-modals-container{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
}

.submit-btn{
    background-color: #32b280;
    padding:10px;
    font-weight: 600;
    color: white;
}
.success-btn{
    background-color: #32b280;
    padding:10px;
    font-weight: 600;
    color: white;
}

.error-message{
    font-size: 12px;
}

.modal-header-style{
    font-family: 'Montserrat';
}

.form-label{
    font-weight: 800;
    font-size: small;
}