/* Detail Transaction */
.body-transaction-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 120vh;
    margin-top: 50px;
    margin-bottom: 50px;
  }


.container-transaction-detail {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    min-width: 130vh;
    max-width: 100%;
    min-height: 80vh;
    max-height: 100%;
    /* overflow: scroll;
    overflow-x: hidden; */
  }

.ruler{

    border-top: 3px solid #32b281;
    color: rgba(255, 255, 255, 0);
}

.detail-header{
background-color: #32B280;
padding:10px ;
color: white;
border-top-left-radius:10px ;
border-top-right-radius:10px ;
}

.italic{
  font-style: italic;
}
.subtitle-600{
font-weight: 600;
}

.subtitle-500{
font-weight: 500;
}

.detail-header-text{
font-weight: 800;
font-size: 1.3rem;
}

.close {
text-decoration: none;
color:#fff;
font-size: 1.5rem;
border: none;
background-color: transparent;
}
.close:hover {
color: rgba(255, 255, 255, 0.747);
    opacity: 1;
}

.link-transaction{
  text-decoration: none;
  color: inherit;
}
.link-transaction:hover{
  text-decoration: none;
  color: inherit;
}

.button-transaction{
  border-radius: 20px;
  border: 1px solid #32b280;
  background-color: #32b280;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 6px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.s;
  margin-left: 10px;
}


.button-transaction:hover {
  background-color: #2b5bf7;
  color: white;
  border: 1px solid #2b5bf7;
}

.button:focus {
  outline: none;
}
  