@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");


.address{
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address .btn{
    background-color: #32b280;
    padding:10px;
    font-weight: 600;
    color: white;
}

.address-card{
    margin-top: 20px;
    border: 1px solid #32b280;
    border-bottom: 4px solid #32b280;
    border-radius: 10px;
    padding: 20px;
    /* background-image: linear-gradient(to right bottom, #32b280, #00b8a9, #00bccf, #00bcec, #4fb9fd); */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    align-items: flex-start;
    transition: 0.2s;
    /* background-color: violet; */
}

.address-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-bottom: 10px solid #32b280;
  }

.address-card .address-edit{
    color: #32b280;
    padding:10px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
    padding:0;
    transition: 1s;
    padding-left: 10px;
}
.address-card .address-delete{
    color: salmon;
    padding:10px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding:0;
    transition: 1s;
}
.address-edit:hover{
    color: green;
    cursor: pointer;
}
.address-delete:hover{
    color: red;
    cursor: pointer;
}

.address-card-data{
    display: flex;
    flex-direction: column;
    padding:10px;
    /* background-color: red; */
/* grid-template-columns: 25% 55% 20%; */
}

.address-card-data .recipient{
    display: flex;
    align-content: center;
    justify-content: space-between;
    /* background-color: red; */
    
}
.address-card-data .phoneNumber{
letter-spacing: 1px;
}

.address-card-data .recipient h6{
    font-weight: 600;
}

.address-card-data .address-location{
    margin:auto;

}
.address-card-data .status .badge{
    background-color: #32b280;
}


