:root {
    --color-primary: #32b280;
    --color-secondary:#2b5bf7
  }
     
    
    /* HR */



    .hr-line{
        border-top: 3px solid #00be75;
        color: transparent;
    }
    .hr-line-2{
        border:1px solid #000000;
        /* color: rgba(255, 255, 255, 0); */
    }
    
    .ruler{
        border-top: 3px solid #32b281;
        color: rgba(255, 255, 255, 0);
    }
    
    
    .subtitle{
    font-weight: 800;   
    }
    .subtitle-700{
    font-weight: 700;
    }
    
    .subtitle-600{
    font-weight: 600;
    }
    
    .subtitle-500{
    font-weight: 500;
    }

    .text-smallest{
    font-size: 0.8rem;
    }
    .text-smaller{
    font-size: 0.9rem;
    }

    .text-small{
    font-size: 1rem;
    }

    .text-heading{
    font-weight: 800;
    font-size: 3.5rem;
    }